* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #28282b;
}

.wrapper{
  width:1000px ;
  height: 540px;
  margin: auto;
  color: white;
}

h1{
  height: 100px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li{
  list-style: none;
  float: left;
  width: 200px;
  background-color:brown;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear{
  clear: both;
}


aside ul li{
  list-style: none;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
}

aside{
  float: left;
}
main img{
  float: left;
  width: 750px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.clients h3{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: slateblue;
}

.client-img{
  width: 333.33px;
  height: 100px;
  float: left;
  object-fit: cover;
}

footer{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  background-color:crimson;
  height: 50px;
}

footer ul li{
  list-style: none;
  float: left;
  padding-left: 4px;
}